<nav class="navbar navbar-inverse navbar-fixed-top">

    <ul class="nav navbar-nav col-lg-6" id="ulHeaderLeft">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <li>
            <a href="/" class="navbar-brand" id="home">
                <span class="glyphicon glyphicon-home"></span>
            Administration
            </a>
        </li>
        <% var paths = {'/upload': 'Upload'} %>
            <% var usedPath = '' %>
                <% if (typeof path !== 'undefined') { %>
              <% usedPath = path %>
            <% } %>
            <% for (var p in paths) { %>
              <% label = paths[p] %>
                <li  <% if (p === (usedPath || '')) { %>  class="active"   <% } %>  >
                  <a href="<%= p %>"><span class="glyphicon glyphicon-upload"></span> <%= label %></a>
                </li>
            <% } %>
    </ul>

    <ul class="nav navbar-nav col-lg-6" id="ulHeaderRight">
        <li><a href="#"><%= userName %></a></li>
    </ul>

</nav>
