<!DOCTYPE HTML>
<html lang="en">
    <head>

        <% include partials/head %>

        <!-- Stylesheet files -->
        <link rel="stylesheet" href="/SlickGrid/slick.grid.css" type="text/css"/>
        <link rel="stylesheet" href="/SlickGrid/controls/slick.pager.css" type="text/css"/>
        <link rel="stylesheet" href="/SlickGrid/controls/slick.columnpicker.css" type="text/css"/>
        <link rel="stylesheet" href="/SlickGrid/plugins/slick.headerbuttons.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/jsoneditor.min.css">

        <!-- Javascript files -->
        <script type="text/javascript" src="/javascripts/sugar.min.js"></script>
        <script type="text/javascript" src="/SlickGrid/lib/firebugx.js"></script>
        <script type="text/javascript" src="/SlickGrid/lib/jquery.event.drag-2.2.js"></script>
        <script type="text/javascript" src="/SlickGrid/slick.core.js"></script>
        <script type="text/javascript" src="/SlickGrid/slick.editors.js"></script>
        <script type="text/javascript" src="/SlickGrid/slick.formatters.js"></script>
        <script type="text/javascript" src="/SlickGrid/slick.groupitemmetadataprovider.js"></script>
        <script type="text/javascript" src="/SlickGrid/slick.dataview.js"></script>
        <script type="text/javascript" src="/SlickGrid/controls/slick.pager.js"></script>
        <script type="text/javascript" src="/SlickGrid/controls/slick.columnpicker.js"></script>
        <script type="text/javascript" src="/SlickGrid/slick.grid.js"></script>
        <script type="text/javascript" src="/SlickGrid/plugins/slick.headerbuttons.js"></script>
        <script type="text/javascript" src="/SlickGrid/plugins/slick.rowselectionmodel.js"></script>
        <script type="text/javascript" src="javascripts/jsoneditor.min.js"></script>
        <script type="text/javascript" src="javascripts/ace/ace.js"></script>
        <script type="text/javascript" src="javascripts/require.js"></script>

    </head>
    <body>

        <% include partials/header %>

        <div  id="container" class="container-fluid">

            <div class="jumbotron" id="h1Div">
                <h1 id="homeH1">Instances : </h1>
            </div>

            <!-- CREATION BUTTON -->
            <button  id="addButton" class="btn btn-success btn-lg" type="button"  data-toggle="modal" data-target="#createModal">
                <span class="glyphicon glyphicon-plus"></span>
                ADD AN INSTANCE
            </button>

            <!-- SLICKGRID -->
            <div id="myGrid"></div>

            <!-- CREATION MODAL -->
            <div id="createModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
                <div class="modal-dialog" id="addModal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create an Instance : </h4>
                        </div>
                        <form id="create-instance-form" action="/instance/" method="post">

                            <div class="modal-body">

                                <div class="input-group">
                                    <span class="input-group-addon spansCreate"> TITLE </span>
                                    <input id="title" type="text" class="form-control inputsCreate" placeholder="Instance title" aria-describedby="basic-addon1" required >
                                </div>

                                <br/>

                                <div class="row hidden" id="techNameLabel">
                                    <label for="technicalName" class="span2" title="alphanumeric">Technical name</label>
                                    <input class="span3" type="text" name="technicalName" id="technicalName" disabled required pattern="[a-z_0-9]+" placeholder="lowercase letters and digits" />
                                </div>

                                <div class="input-group" id="part1">
                                    <span class="input-group-addon spansCreate">  PROJECT </span>
                                    <input type="text" class="form-control inputsCreate" title="lowercase alphanumeric"  pattern="[a-z_0-9]+" name="technicalName_part1" id="technicalName_part1" placeholder="Project Name" aria-describedby="basic-addon1" required>
                                    <div class="validMessage alert alert-danger" style="display:none">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        Only lower case letters and digits
                                    </div>
                                </div>


                                <br/>

                                <div class="input-group">
                                    <span class="input-group-addon spansCreate">  STUDY </span>
                                    <input id="technicalName_part2" type="text" class="form-control inputsCreate" title="lowercase alphanumeric" placeholder="Study Name"  pattern="[a-z_0-9]+" aria-describedby="basic-addon1" required>
                                    <div class="validMessage alert alert-danger" style="display:none">Only lower case letters and digits</div>
                                </div>

                                <br/>

                                <div class="input-group">
                                    <span class="input-group-addon spansCreate"> VERSION </span>
                                    <input id="technicalName_part3" type="text" class="form-control inputsCreate" title="numeric" min="0" placeholder="Instance Version" pattern="[0-9]+" aria-describedby="basic-addon1" style="width: 450px;">
                                    <div class="validMessage alert alert-danger" style="display:none">Only digits</div>
                                </div>

                                <br/>

                                <div class="input-group">
                                    <span class="input-group-addon spansCreate"> APP </span>
                                    <select id="app" name="application" class="span3 inputsCreate" required>
                                        <% for(var i=0; i<apps.length; i++) {%>
                                        <option <%if (i == 0) { %> selected="selected" <% } %> ><%= apps[i] %></option>
                                        <% } %>
                                    </select>
                                </div>

                                <br/>

                                <div class="input-group">
                                    <span class="input-group-addon spansCreate"> URL </span>
                                    <input id="url" type="url" class="form-control span3 inputsCreate" title="If the domainProxy environment variable is not set, no generated URL" placeholder="Generated URL" disabled>
                                </div>


                                <!-- Maybe useless ? -->
                                <div class="row hidden" id="url">
                                    <label for="accel" class="span2" title="Instance's external URL">
                                        external URL</label>
                                    <input class="span3" type="url" name="accel" id="accel"
                                           placeholder="http://instance.domain.co/" />
                                </div>
                                <div class="row hidden" id="internal_url">
                                    <label for="url_root" class="span2" title="Instance's internal URL (computed)">
                                        internal URL
                                    </label>
                                    <input class="span3" type="url" name="url_root" id="url_root"
                                           placeholder="http://castor.intra.domain.co:35268/" />
                                </div>
                                <div class="row hidden" id="date">
                                    <label for="date_input" class="span2" title="Instance's creation date">
                                        Date
                                    </label>
                                    <input class="span3" type="text" name="date" id="date_input" disabled/>
                                </div>
                                <div class="row hidden">
                                    <table class="span5" id="tblAppendGrid">
                                    </table>
                                </div>
                                <!-- End useless ? -->


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                <button type="submit" id="create-submit-button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Create</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            <!-- REMOVE MODAL -->
            <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="delete-instance-form" method="delete">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="deleteModalLabel">Remove an instance</h3>
                            </div>
                            <div class="modal-body">
                                <p>
                                    You are about to permanently delete the instance
                                    <span id="deleteModalId">id</span>, are you sure?
                                </p>
                                <p>
                                    This instance represents <span id="deleteModalVolume"></span> data.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button id="cancel-form" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <button id="delete-submit-button" type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- EDITOR MODAL -->
            <div id="settingsEditor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 id="deleteModalLabel">Edit an instance : </h3>
                        </div>
                        <div class="modal-body">
                            <div class="toolbar">

                                <button id="mode-text-button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-retweet"></span> Text</button>
                                <button id="mode-tree-button" class="btn btn-default btn-lg" style="display:none"> <span class="glyphicon glyphicon-retweet"></span> Tree</button>

                                <div id="editDivWarning" class="alert alert-danger">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span>Error:</span>
                                    <div id="messageEditWarning"></div>
                                </div>
                                <div id="settingsEditorDiv"></div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="settings-save-button" class="btn btn-success"> <span class="glyphicon glyphicon-ok"> Save</button>
                            <button id="settings-cancel-button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

         </div> <!--  END CONTAINER -->

        <script>
            // Get instances and configuration
            var config = <%- config %>;
        </script>
        <!-- Main JS Script for Index -->
        <script type="text/javascript" src="javascripts/indexScripts.js" ></script>

    </body>
</html>




