/*
*
* Stylesheet of administration
*
* Structure :
* GENERAL > HEADER > INDEX
*
* By François Parmentier
*
*/



/* -------------------------------------- */
/*              GENERAL                   */
/* -------------------------------------- */



body {
    padding-top: 60px;
    padding-bottom: 40px;
}


a {
    -webkit-transition:color 403ms ease-out;
    -moz-transition:color 403ms ease-out;
    -o-transition:color 403ms ease-out;
    transition:color 403ms ease-out;
}

table#columns-table {
    margin-left: auto;
    margin-right: auto;
}
table#columns-table tr > td {
    text-align: right;
    padding-right: 10px;
}


/* -------------------------------------- */
/*            / END  GENERAL /            */
/* -------------------------------------- */







/* -------------------------------------- */
/*              HEADER                    */
/* -------------------------------------- */


#ulHeaderLeft{
    display: flex;
    justify-content: flex-start;
}

#ulHeaderRight{
    display: flex;
    justify-content: flex-end;
}

#home{
    color: #fff;
}

#home:hover{
    text-decoration: underline;
}

.slick-headerrow-column input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* -------------------------------------- */
/*              / END HEADER /            */
/* -------------------------------------- */






/* -------------------------------------- */
/*              INDEX PAGE                */
/* -------------------------------------- */

/* MAIN */


#h1Div{
    display: table;
    width: 100%;
    height: 85px;
    padding: 0;
    text-align: center;
    font-family: verdanna;
}

#homeH1{
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
}

#addButton{
    width: 130px;
    height: 40px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 12px;
    float: left;
}

#myGrid{
    width:100%;
    height:300px;
}

.validMessage{
    width: 100%;
    float: left;
    margin: 0;
    padding: 8px;
    border-radius: 0 0 5px 0;
    background-image: none !important;
}

#createModal{
    background: rgba(0, 1, 0, 0.8);
}

.modal-header{
    text-align: center;
}

.slick-header{
    background: beige!important;
    color: #444;
    font-weight: bold;
}

.slick-headerrow-column{
    background: none !important;
}

.slick-header-column.ui-state-default{
    height: 30px !important;
    line-height: 25px !important;
}

.slick-headerrow-column input{
    height: 23px !important;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.slick-headerrow-column input:focus{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.slick-cell{
    height: 30px !important;
    line-height: 25px;
}

.r4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionsButtons{
    padding: 0 11px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.icon-ok {
    color: green;
}

.icon-remove {
    color: red;
}

.highlighted div {
    background-color: rgba(200, 250, 200, 50);
}

/* CREATE */

.spansCreate{
    width: 150px !important;
}

.inputsCreate{
    width: 450px !important;
}

/* EDITOR  */


#settingsEditor{
    background: none repeat scroll 0% 0% rgba(0, 1, 0, 0.8);
    overflow-y: auto;
}

#settingsEditor .modal-dialog{
    width: 700px;
}


.jsoneditor{
    height: 400px !important;
    text-align: left;
}


.toolbar{
    text-align: center;
}

#mode-tree-button{
    margin: 10px;
    font-size: 15px;
}

#mode-text-button{
    margin: 10px;
    font-size: 15px;
}

#editDivWarning{
    opacity: 0;
    font-size: 13px;
    background-image: none;
    padding: 0px !important;
    height: 40px;
    overflow: hidden;
}

#messageEditWarning{
    font-size: 12px;
}


.poweredBy{
    display: none;
}

.ace_gutter-cell.ace_error{
    background-image: none!important;
    background: red !important;
    color: #fff;
    font-weight: bold;
}

/* DELETE */

#deleteModal{
    background: none repeat scroll 0% 0% rgba(0, 1, 0, 0.8);;
}

#deleteModalId, #deleteModalVolume {
    font-weight: bold;
}


/* -------------------------------------- */
/*              / END INDEX /             */
/* -------------------------------------- */